/* Dit font is voor de text in de shoppinglist */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fira+Sans&family=Gochi+Hand&family=Holtwood+One+SC&family=Permanent+Marker&family=Righteous&display=swap');
/* Deze font is voor de h1 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fira+Sans&family=Holtwood+One+SC&family=Permanent+Marker&family=Righteous&display=swap');


body {
	/* background-image: url(../img/backgroundjpg.jpg); mocht er toch een achtergrond nodig zijn*/
	background-color: rgb(240, 239, 239);
	background-size: contain;
	margin: 0px;
}

main {
	width: 30%;
	margin: auto;
	margin-top: 0px;
}

h1 {
	margin-top: 0px;
	text-align: center;
	padding: 1vh;
	color: rgb(166, 255, 0);
	font-family: 'fira sans', holtwood one;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

h2{
	text-align: center;
	border: solid black 2px;
	border-radius: 10px;
	background-color: rgba(29, 62, 35, 1);
	color: white;
	font-family: 'fira sans', holtwood one;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.scout-h1 {
	color: rgb(219, 218, 218);
}

header {
	background-color: rgba(29, 62, 35, 1);
}

.shopping-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.listlabel {
	font-size: 1.2rem;
	color: rgb(224, 224, 224);
	font-family: 'fira sans', holtwood one;
	background-color: rgba(29, 62, 35, 1);
	padding: 6px;
	margin-bottom: 0.5vh;
	border: solid black 3px;
	border-radius: 10px;
	width: 95%;
	text-align: center;
	margin-top: 2vh;
}

#list {
	border: solid black 3px;
	border-radius: 10px;
	background-color: rgb(181, 181, 173);
	padding: 1vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	width: 90%;
	font-size: 1.5rem;
	font-family: 'Gochi hand';
	color: rgb(48, 46, 46);
}

.submit {
	margin-top: 0.5vh;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	width: 100%;
	border: black solid 3px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.2rem;
	background-color: rgba(29, 62, 35, 1);
	color: rgb(230, 230, 230);
	font-family: 'fira sans', holtwood one;
}

#supermarkets{
	width: 100%;
	margin: auto;
}

.supermarket-list-container{
	list-style-type: none;
	padding: 0px;
}

.supermarket-logo{
	width: 4vw;
	padding: 0px;
	border-radius: 30px;
}

.supermarket-list-hover{
	display: flex;
}

#table-info-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: col;
	border: solid black 3px;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 2.5vh;
	background-color: rgb(209, 209, 209);
	box-shadow: 13px 13px 22px -12px rgba(0, 0, 0, 0.75)	
}

a{
	color: black;
	font-family: 'fira sans', holtwood one;
	text-decoration: none;
	font-size: 1.5rem;
	text-align: center;
}

.total-price-container{
	font-size: 1.4rem;
	padding-right: 10px;
	font-family: 'fira sans', holtwood one;
}

.error-message{
	padding-left: 3.4vw;
}

@media (width <=480px) {
	body {
		width: 100%;
	}

	body {
		margin: 0px;

	}

	main {
		width: 65%;
		margin: auto;
		margin-top: 0px;
	}

	#list {
		border: solid black 3px;
		border-radius: 10px;
		background-color: rgb(194, 194, 183);
		padding: 1vw;
		padding-top: 2vh;
		padding-bottom: 2vh;
		width: 96%;
		font-size: 1.2rem;
	}




}